.form-parent {
  flex: 1;
  padding: 5vmin 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 13vmax;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 2vmin;
  border-radius: 10px;
  background-color: rgb(213, 227, 239);
  gap: 2vmin;
}
.err {
  color: red;
  font-size: 1.5vmin;
  margin-top: 0.5qvmin;
}
