

.JoyPlay-Container {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  margin-top: 8vmax;
  gap: 8vmax;
}
.JoyPlay-image {
  width: 30vmax;
  margin-left: 6vmax;
}

.tagline {
  color: white;
  font-family: "Riky Vampdator Normal", sans-serif;
  font-size: 4.5vmax;
}
