.navbar-container {
  position: fixed;
  z-index: 9;
}

.navbar {
  width: 100vmax;
  height: 10vmax;
  z-index: 99;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  padding: 0 8vmax 0 3vmax;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.JoyPlay {
  font-family: "Creepster", system-ui;
  font-size: 3vmax;
  letter-spacing: 0.2vmax;
  color: black;
}

.JoyPlay span {
  color: #6d0fe0;
  margin-left: 10px;
}

.right-nav {
  display: flex;
  justify-content: center;
  gap: 5vmin;
  padding-right: 5vmax;
}

.login,
.home,
.about {
  font-size: 1.5vmax;
  font-family: "Creepster", system-ui;
  letter-spacing: 0.2vmax;
  color: black;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  cursor: pointer;
}

.login::after,
.home::after,
.about::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6d0fe0;
  transition: width 0.3s ease;
}

.login:hover,
.home:hover,
.about:hover {
  color: #6d0fe0;
}

.login:hover::after,
.home:hover::after,
.about:hover::after {
  width: 100%;
}
@media screen and (max-width: 767px) {
  /* Navbar */
  .navbar {
    /* Stack items vertically */
    /* align-items: center; Center items vertically */
    padding: 16px;
    padding-right: 85px;
    height: auto; /* Adjust height to fit content */
  }

  /* Left navigation items */

  /* Right navigation items */
  .right-nav {
    /* flex-direction: column; Stack items vertically */
    gap: 10px; /* Add gap between items */
  }

  /* Individual navigation items */
  .login,
  .home,
  .about {
    font-size: 14px; /* Adjust font size */
  }
}
